
* {
	font-family: Arial, sans-serif;
	color: black;
	background-color: lightgray;
}

div {
	color: grey;
	background-color: darkolivegreen;
	border-radius: 25px;
	text-align: center;
	padding-top: 10px;
}
/* source: https://stackoverflow.com/questions/16946284/how-to-horizontally-align-ul-to-center-of-div */
.ulnavigation {
	list-style-type: none;
	margin: 20px;
	padding: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;	
}

.Header-nav-item{
	margin: 10px;
}

a{
	color: lightyellow;
	text-decoration: none;
}

li{
	margin: 10px;
	padding: 5px;
	color: darkolivegreen;
	font-weight: bold;
}

a:hover {
	background-color: grey;
}

li a.active{
	background-color: white;
}

h1 {
	color: darkslategray;
	text-align: center;
	background-color: darkolivegreen;
	font-stretch: expanded;
}

section {
	border: 5px darkslategrey solid;
	border-radius: 25px;
	margin: 10px;
}

h4, h5 {
	color: darkslategrey;
	text-align: center;
	font-style: italic;
}

p {
	text-align: center;
	color: rgb(30, 59, 12);
}

footer {
	border-radius: 25px;
	border: 5px darkslategrey solid;
	margin: 10px;
}


