
* {
	font-family: Arial, Verdanan, sans-serif;
	color: black;
	background-color:aliceblue;
}


.nav {
	display: flex;
}

ul {
	list-style-type: none;
	margin: 20px;
	padding: 10px;
	overflow: hidden;
	background color: grey;
} 

li {
	float: center;	
}

li a {
	display: in-line;
	color: green;
	text-align: center;
	padding: 20px 22 px;
}

li a:hover:not(.active){
	background-color: blue;
}

.active{
	background-color: white;
}


h1, h3 {
	color: blue;
	text-align: center;
}

h4, h5 {
	color: black;
	text-align: left;
}


